.home-card h2{
    text-align: center;
}
.home-card p{
    margin-top: 5%;
    text-align: center;
}

.card-main{
    border-left-color:lightblue;
    border-right-color: lightblue;
    border-radius: 22px;
}

.card-main:hover{
    border-left-color:blue ;
    border-right-color: blue;
}